ALTER TABLE products ADD COLUMN wants TEXT, ADD COLUMN wanted_categories JSON, ADD COLUMN item_type VARCHAR(255), ADD COLUMN brand VARCHAR(255), ADD COLUMN authenticity_risks TEXT, ADD COLUMN tags JSON, ADD COLUMN estimated_value_min DECIMAL(10,2), ADD COLUMN estimated_value_max DECIMAL(10,2);
